.Navbar{
    display: flex;
    justify-content: space-between;
    padding: 14px 16px;
    font-weight: 600;
    font-size: 1.25rem;
}
.Navbar select{
    outline: none;
    padding: 5px 10px;
}


.Navbar input[type="checkbox" ]{
   margin: 0 10px;
}
.Navbar.dark{
    color: #fff;
    background-color: #333;
}
.Navbar.light{
    color: #000;
    background-color:#dddddd ;
}